@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --blue500: #2b6777;
    --orange400: #f8931f;
    --orange500: #f07c4b;
    --orange900: #b9623d;
  }
}
