@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-gotham);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-line-grow {
    animation: line-grow 1s ease-out forwards;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --blue100: #69b1d7;
    --blue500: #2b6777;
    --blue900: #1a6d7f;
    --blue1000: #171f24;
    --orange400: #f8931f;
    --orange500: #f07c4b;
    --orange800: #c96a4f;
    --orange900: #b9623d;
    --green800: #1c6d7f;
    --gray400: #a6afb5;
    --font-gotham: var(--font-gotham);
    --font-gotham-bold: var(--font-gotham-bold);
    --font-gotham-medium: var(--font-gotham-medium);
    --font-gotham-light: var(--font-gotham-light);
  }
}

@keyframes line-grow {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.font-gotham-bold {
  font-family: var(--font-gotham-bold);
}

.font-gotham-medium {
  font-family: var(--font-gotham-medium);
}

.font-gotham-light {
  font-family: var(--font-gotham-light);
}
